.message {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  div {
    margin: auto;
    color: white;
    background: $error-color;
    padding: 16px;
    border-radius: 4px;
  }
}
