p {
  word-break: break-word;
}

input,
textarea {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

input:hover,
:focus,
textarea:hover,
:focus,
.user-avatar a:focus,
.user-avatar a:hover {
  border: $primary-color solid 1px;
  box-shadow: 0 6px 28px -4px rgba(0, 0, 0, 0.12);
  transition-delay: 0s !important;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  margin-top: 20px !important;
}

.repos__wrapper {
  max-width: 400px;
  margin: 20px 0;
}

.repos-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  background: $default-color;
  color: $mainFontColor;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  &:hover {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.04);
    transform: translate(0, -6px);
    transition-delay: 0s !important;
  }
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 100px);
    overflow: hidden;
  }
}

.error {
  margin-top: 20px;
}

.user__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 20px 0;
}

.user-avatar {
  max-width: 125px;
  width: 100%;
  flex: 1;
  a {
    display: flex;
    border: 1px solid #fff;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    border-radius: 50%;
  }
  img {
    border-radius: 50%;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 2;
  h1 {
    color: $neutral-primary;
    font-size: 24px;
    font-weight: bold;
  }
  span {
    font-size: 14px;
    color: $neutral-secondary;
    margin-bottom: 20px;
  }
}

.user-detail_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  color: $neutral-regular;
  p:nth-child(odd) {
    margin-right: 10px;
  }
}

.pagination__wrapper {
  text-align: center;
  margin: 20px 0;
}

.repo-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: $neutral-regular;
  font-size: 14px;
  .repo-sor__group {
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    span {
      color: $neutral-secondary;
      transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
      cursor: pointer;
      &:hover {
        color: $neutral-primary;
      }
    }
  }
}

.button-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  .reposNumberPage {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 20px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.current-page {
  color: $default-color;
  background: $primary-color;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: $phoneWidth) {
  .user__wrapper {
    flex-direction: column;
    align-items: center;
    .user-info {
      margin: 20px 0;
      :nth-child(n) {
        text-align: center;
      }
    }
  }
  .repos__wrapper {
    max-width: 320px;
  }
}
