.new-note {
  text-align: center;
}

.btn {
  margin: 20px;
}

.new-note__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.new-note__top_title {
  width: 100%;
  flex: 2;
  margin-bottom: 20px;
}

.radio {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-child {
  margin-left: 20px;
  label {
    margin: 0;
  }
  span {
    color: #101010;
  }
  [type='radio']:not(:checked),
  [type='radio']:checked {
    display: none;
    pointer-events: none;
  }

  [type='radio']:not(:checked) + span,
  [type='radio']:checked + span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    transition: 0.28s ease;
    user-select: none;
  }

  [type='radio'] + span:before,
  [type='radio'] + span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 20px;
    height: 20px;
    z-index: 0;
    transition: 0.28s ease;
  }

  [type='radio']:not(:checked) + span:before,
  [type='radio']:not(:checked) + span:after,
  [type='radio']:checked + span:before,
  [type='radio']:checked + span:after,
  [type='radio'].with-gap:checked + span:before,
  [type='radio'].with-gap:checked + span:after {
    border-radius: 50%;
  }

  [type='radio']:not(:checked) + span:before,
  [type='radio']:not(:checked) + span:after {
    border: 1px solid $primary-color;
  }

  [type='radio']:not(:checked) + span:after {
    transform: scale(0);
  }

  [type='radio']:checked + span:before {
    border: 1px solid transparent;
  }

  [type='radio']:checked + span:after,
  [type='radio'].with-gap:checked + span:before,
  [type='radio'].with-gap:checked + span:after {
    border: 1px solid $primary-color;
  }

  [type='radio']:checked + span:after,
  [type='radio'].with-gap:checked + span:after {
    background-color: $primary-color;
  }
}
